# fly.toml app configuration file generated for spazio-solazzo on 2026-01-13T12:30:59+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'spazio-solazzo'
primary_region = 'ams'
kill_signal = 'SIGTERM'

[build]

[deploy]
release_command = '/app/bin/migrate'
wait_timeout = "10m"

[env]
PHX_HOST = 'spazio-solazzo.fly.dev'
PORT = '8080'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[http_service.concurrency]
type = 'connections'
hard_limit = 1000
soft_limit = 1000

[[vm]]
memory = '512mb'
cpus = 1
memory_mb = 512
